a {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 75px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 59px;
  width: 59px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 68px;
}

.slider.round:before {
  border-radius: 50%;
}

.slidecontainer {
  width: 100%;
}

/* The slider itself */
.slidebar {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slidebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slidebar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.containerx {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background: #9a9a9a;
  padding: 20px;
  margin-top: 20px;
  height: 200px;
  max-width: 100%;
  position: relative;
  display: block;
}

.containermeas {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background: #9a9a9a;
  padding: 20px;
  margin-top: 20px;
  max-width: 100%;
  position: relative;
  display: block;
}

.containerform {
  display: none;
  flex-wrap: wrap;
  border-radius: 5px;
  background: #9a9a9a;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  position: relative;
  display: block;
}

.buttoninfo {
  margin-right: 10%;
  float: right;
}

p2 {
  font-size: 20px;
  color: #ffffff;
}

.buttoninfoslider {
  float: left;
}

.buttoninfosid {
  position: absolute;
  left: 20px;
  bottom: 0px;
  width: 80%;
}

.slidenumber {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.delete {
  position: absolute;
  right: 3px;
  bottom: 3px;
}

.deletemeas {
  position: absolute;
  right: 40px;
  bottom: 0px;
}

.image:hover {
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

@media (min-width: 800px) {
  .containerx {
    width: 45%;
    margin-left: 20px;
    display: inline-block;
  }
}
@media (min-width: 1400px) {
  .containermeas {
    width: 45%;
    margin-left: 20px;
    display: inline-block;
  }
}
@media (min-width: 2300px) {
  .containerx {
    width: 30%;
    display: inline-block;
  }
}
#recButton {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: #6b0101;
  border: 0;
  margin: 0px;
  outline: none;
}

.notRec {
  background-color: #a00303;
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
