


{% extends "template.html" %}
{% block body %}


<br>

<form method="POST" action="/addmeasurement">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Name</label>
        <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Measurement1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Ylabel</label>
        <input name="label" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Temperature">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add measurement</button>
</form>
<br>
{% if message is defined %}
Make sure you fill in every field.
{% endif %}
{% if message2 is defined %}
Please give a unique name to this measurement.
{% endif %}
{% endblock %}