{% extends "template.html" %}
{% block body %}

<!-- generate the different controllers-->
{% for controller in controllers %}
{% if controller.type == "toggle" or controller.type == "execute" %}
<div class="containerx">
    <label class="switch">
        <input data-pin={{controller.pinnumber}} data-type={{controller.type}} data-name={{controller.name}}
            type="checkbox">
        <span class="slider round"></span>
    </label>
    <div class="buttoninfo">
        <p2>
            <b>Type:</b> {{controller.type}}<br>
            <b>Name:</b> {{controller.name}}<br>
            <b>Pinnumber:</b> {{controller.pinnumber}}<br>
        </p2>
        <br>
    </div>
    <div class="buttoninfosid">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" name="{{controller.name}}">SID</span>
            </div>
            <input type="text" id="{{controller.name}}" class="form-control" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="delete">
        <form method="POST" action="/controller">
            <input name="name" type="hidden" value="{{ controller.name }}">
            <input type="image" src="/static/delete.svg" alt="delete" style="width:50px;height:70px;">
        </form>
    </div>
</div>
{% endif %}


{% if controller.type == "slider" %}
<div class="containerx">
    <input data-pin={{controller.pinnumber}} data-type={{controller.type}} data-name={{controller.name}} type="range"
        min={{controller.min}} max={{controller.max}} value=0 class="slidebar" id="myRange">
    <div class="slidenumber" id={{controller.pinnumber}}> 0 </div>
    <div class="buttoninfoslider">
        <p2>
            <b>Type:</b> {{controller.type}}
            <b>Name:</b> {{controller.name}}<br>
            <b>Pinnumber:</b> {{controller.pinnumber}}
        </p2>
    </div>
   
    <div class="buttoninfosid">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" name="{{controller.name}}">SID</span>
            </div>
            <input type="text" id="{{controller.name}}" class="form-control" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="delete">
        <form method="POST" action="/controller">
            <input name="name" type="hidden" value="{{ controller.name }}">
            <input class="image" type="image" src="/static/delete.svg" alt="delete" style="width:50px;height:70px;">
        </form>
    </div>
</div>
{% endif %}
{% endfor %}

<br>
<br>
&nbsp; &nbsp; &nbsp; &nbsp; <a href="/addcontroller">
    <img src="/static/plus.svg" width="75" height="75" title="Add" alt="Add">
</a>
<br>
<br>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Connect to websocket
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // When connected, configure button
        socket.on('connect', () => {
            // declare some variables
            var outputslider = document.getElementById("outputslider");
            // button should emit a "submit" event
            document.querySelectorAll('input').forEach(input => {
                input.oninput = () => {

                    // toggle ON
                    if (input.type == "checkbox" && input.checked == true) {
                        var selection = "HIGH";
                        emittoserver(input, selection);
                    }
                    // toggle OFF 
                    else if (input.type == "checkbox" && input.checked == false) {
                        var selection = "LOW";
                        emittoserver(input, selection);
                    }

                    // slider range
                    else if (input.type == "range") {
                        var selection = input.value;
                        document.getElementById(String(input.dataset.pin)).innerHTML = selection;
                        emittoserver(input, selection);
                    }
                    
                    // function that emits the controller data to the server
                    function emittoserver(input, selection) {
                        var pin = input.dataset.pin;
                        var type = input.dataset.type;
                        var name = input.dataset.name;
                        var sid = document.getElementById(name).value;
                        socket.emit('submitswitch', { 'name': name, 'type': type, 'value': selection, 'pin': pin, 'sid': sid });   
                    }
                };
            });
        });
    })
</script>
{% endblock %}
</html>