<!--

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>

<body>
    -->

{% extends "template.html" %}
{% block body %}
    <ul id="switches">
    </ul>
    <hr>

    <!-- switches-->
    <div class="containerx">
        <label class="switch">
            <input data-pin=1 type="checkbox">
            <span class="slider round"></span>
        </label>

    </div>
    <div class="containerx">
        <label class="switch">
            <input data-pin=2 type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <!-- slider-->

    <div class="containerx">
        <input data-pin=3 type="range" min="1" max="100" value="50" class="slidebar" id="myRange">
        <p id="3">50</p>
    </div>


    <div class="containerx">
        <input data-pin=4 type="range" min="1" max="100" value="50" class="slidebar" id="myRange">
        <p id="4">50</p>
    </div>

    <!-- generate the different controllers-->
    {% for controller in controllers %}
    {% if controller.type == "toggle" or controller.type == "execute" %}
    <div class="containerx">
        <label class="switch">
            <input data-pin={{controller.pinnumber}} data-type={{controller.type}} data-name={{controller.name}} type="checkbox">
            <span class="slider round"></span>
        </label>
        <p2>
        Type: {{controller.type}}<br>
        Name: {{controller.name}}<br>
        Pinnumber: {{controller.pinnumber}}<br>
        
        <form method="POST" action="/">
            <input name="name" type="hidden" value="{{ controller.name }}">
            
            <input type="image" src="/static/delete.svg" alt="delete" style="width:50px;height:70px;"/>
        </form>
        </p2>
    </div>

    {% endif %}
    {% if controller.type == "slider" %}
    <div class="containerx">
        <input data-pin={{controller.pinnumber}} data-type={{controller.type}} data-name={{controller.name}} type="range" min={{controller.min}} max={{controller.max}} value=0
            class="slidebar" id="myRange">
        <p id={{controller.pinnumber}}> 0 </p>
        <form method="POST" action="/">
            <input name="name" type="hidden" value="{{ controller.name }}">
            <button type="submit">delete</button>
        </form>
    </div>
    {% endif %}
    {% endfor %}
    <a href="/addcontroller">add controller</a>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Connect to websocket
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // When connected, configure button
            socket.on('connect', () => {
                // declare some variables
                var outputslider = document.getElementById("outputslider");
                // button should emit a "submit" event
                document.querySelectorAll('input').forEach(input => {
                    input.oninput = () => {
                        // checkbox
                        if (input.type == "checkbox" && input.checked == true) {
                            var selection = "HIGH";
                        }

                        else if (input.type == "checkbox" && input.checked == false) {
                            var selection = "LOW";
                        }
                        // slider

                        else {
                            var selection = input.value;
                            
                            document.getElementById(String(input.dataset.pin)).innerHTML = selection;
                            //$("#outputslider",$(this).parent()).html(selection); 
                            //outputslider.innerHTML = input.value;
                        }
                        // other data of pin
                        var pin = input.dataset.pin;
                        var type = input.dataset.type;
                        var name = input.dataset.name
                        socket.emit('submitswitch', {'name': name, 'type': type, 'value': selection, 'pin': pin }); //event name, json object
                    };
                });
            });

            // When a new vote is announced, add to the unordered list
            socket.on('announce switch', data => {
                const li = document.createElement('li');
                li.innerHTML = `switch history: ${data.selection}`;
                document.querySelector('#switches').append(li);
            });
        });
    </script>
    <!--
    <script> // slider script
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>
-->
{% endblock %}

</html>