{% extends "template.html" %}
{% block body %}

<!-- generate containers for measurements from database-->
{% for measurement in measurements  %}
{{measurement.name}}
<div class="containermeas">
    <div class="chart-container" style="position: relative; height:40vh; width:100%">
        <canvas id='{{measurement.name}}'></canvas>
    </div>
    record: <input data-record='{{measurement.name}}' type="checkbox"> 
    <form method="POST" action="/measurements">
        <input name="name" type="hidden" value="{{ measurement.name }}">
        <input type="image" src="/static/delete.svg" alt="delete" style="width:50px;height:70px;" />
    </form>
</div>
{% endfor %}
<script>
    //var updatecount = 0
    document.addEventListener('DOMContentLoaded', () => {

        // Connect to websocket
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);


        // if receiving data add to graph, and remove first datapoint
        socket.on('updatedata', data => {
            addData(eval(data['measurementname']), data['time'], data['value'])

            removeData(eval(data['measurementname']))
            updataData(eval(data['measurementname']))

            // if recording send data 
            document.querySelectorAll('input').forEach(input => {
                if (input.type == "checkbox" && input.checked == true) {
                    measurementname = input.dataset.record
                    socket.emit('recording', { 'measurementname': measurementname, 'time': data['time'], 'value': data['value'] })
                }

            })
        });

        // record function sends json to application.py to activate function
        document.querySelectorAll('input').forEach(input => {
            input.oninput = () => {
                //alert("works")
                // start recording
                //if (input.type == "checkbox" && input.checked == true) {
                // measurementname = input.dataset.record
                //socket.emit('startrecording', { 'measurementname': measurementname });
                //}
                // stop recording 
                if (input.type == "checkbox" && input.checked == false) {
                    filename = input.dataset.record.concat('.csv')
                    alert(filename)
                    window.location.href = "download/".concat(filename);
                }
            }
        })

    })

    // generate charts for measurements
    {% for measurement in measurements %}

    var ctx = document.getElementById('{{measurement.name}}').getContext('2d');
    var {{ measurement.name }} = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['00:00'],
            datasets: [{
                label: '{{measurement.name}}',

                borderColor: 'rgb(255, 99, 132)',
                data: [0]
            }]
        },

        // Configuration options go here
        options: {
            maintainAspectRatio: false,
            animation: { duration: 0 },
            title: {
                fontSize: 20,
                display: true,
            }
        }
    });
    {% endfor %}

    // function to add datapoint to graph
    function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });

    };

    // function to remove first datapoint from graph
    function removeData(chart) {

        if (chart.data.datasets[0].data.length >= 10) {
            chart.data.labels.shift();
            chart.data.datasets[0].data.shift();
        }
    }

    // function to update data
    function updataData(chart) {
        chart.update();
    }


</script>

{% endblock %}