{% extends "layout2.html" %}
{% block main %}

<div class="sidenav">
    <div class="login-main-text">
        <h2>Raspberry PI controlapp</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form method="POST" action="/register">
                <div class="form-group">
                    <label>Choose a username</label>
                    <input type="text" name="username" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label>Choose a password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                {% if characters is defined %}
                Please choose a username and a password!
                {% endif %}

                {% if available is defined %}
                The chosen username is not available.
                {% endif %}
                <button type="submit" class="btn btn-black">Submit</button>

            </form>

            <a href="{{ url_for('login') }}"> Or login here!</a>
        </div>
    </div>
</div>


{% endblock %}